img{
    width: 150px;

}

.line{
    display: flex;
}
.under{
    margin-right: 15px;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}